:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-grey-lighten: #CCCCCC;
  --color-grey: #DDDDDD;
  --color-grey-dark: #777777;
  --color-grey-darken: #999999;

  --color-overlay: rgba(119, 119, 119, 0.8);
  --color-shell: #ECECEC;
}
