.test-redux {
  h4 {
    font-size: 18px;
    text-transform: uppercase;
  }

  form {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #000;
  }

  ul {
    margin-top: 20px;
    padding: 20px;
    padding-left: 20px;
    border: 1px solid #000;

    li {
      padding: 5px;
      margin-bottom: 10px;
      background-color: #ccc;
    }
  }
}
