.button {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  max-width: 135px;
  border: 0;
  padding: 6px 35px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid var(--color-black);

  &--no-margin {
    margin: 0;
  }

  &--default {
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
  }

  &--outline {
    background-color: transparent;
    color: var(--color-black);
  }
}
