.textarea {
  display: block;
  margin-top: 20px;
  width: 100%;

  label {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
    color: var(--color-black);
  }

  textarea {
    width: 100%;
    max-width: 100%;
    padding: 6px 10px;
    background: var(--color-white);
    border: 1px solid var(--color-grey);
    box-sizing: border-box;
    border-radius: 4px;

    &::placeholder {
      color: var(--color-grey-lighten);
    }
  }
}
