.textarea {
  display: block;
  margin-top: 20px;
  width: 100%;

  label {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;

    color: #000000;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    padding: 6px 10px;
    background: #FFFFFF;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
